extends ../layout.pug

block title
    h1 Location List
block content
    div
        a(class="action", href="/firmware/add") 
            span(class="material-icons md-24") playlist_add
    div(class=`message ${msgtype}`) #{msg}
    table(class='list')
        th Name
        th Available Version
        th Description
        th Location (url)
        th Actions
        - var i=0
        each firmware in firmwares
            - i = i+1
            tr(class=(i % 2 == 0) ? 'even' : 'odd')
                td= firmware.name
                td= firmware.versionAvailable
                td= firmware.description
                td= firmware.url
                td
                    a(class="action", href=`firmware/edit/${firmware.id}`) 
                        span(class='material-icons md-18') edit
                    a(class="action", href=`firmware/delete/${firmware.id}`) 
                        span(class='material-icons md-18') delete
