extends ../layout.pug

block title 
    h1 Device List
block content
    table(class='list')
        th Device ID
        th Description
        th Model
        th Location
        th Firmware Image
        th Installed Version
        th Available Version
        th Actions
        - var i=0
        each device in devices
            - i = i+1
            tr(class=(i % 2 == 0) ? 'even' : 'odd')
                td= device.name
                td= device.description
                td= device.model
                td= device.Location.name
                td 
                td
                td
                td 
                    a(class="action", href=`device/edit/${device.id}`) 
                        span(class='material-icons md-18') edit